<div id="login-box">
          <div class="left">
            <h1>Write Your Blog here..</h1>

            <input type="text" name="author-name" placeholder="Author Name" />
            <input type="text" name="blog-title" placeholder="Your Blog's Title" />
            <div class="blog-category">
                <button class="blog-category-btn">Choose Your Blog category..</button>
                <div class="blog-category-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <br>
            <div class="blog-language">
                <button class="blog-language-btn">Choose Your Blog Language..</button>
                <div class="blog-language-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <input type="text" name="blog-title" placeholder="Your Blog's Description" />
            <input type="text" name="blog-title" placeholder="" />
            <textarea rows="15" cols="72" style="color: gray">Write Your Blog Here..</textarea><br>


            <input type="submit" name="submit" value="Submit" />
            </div>

        </div>
